<div id="about-contents">
	<h3>Law, Technology, &amp; Culture Final Project</h3>
	<h4>"Hip Application Name Goes Here"</h4>
	<p>
		Have you ever wondered what crimes occur at Yale and where? By scraping data from the publicly available
		<a href="http://publicsafety.yale.edu/calendar">Yale Public Safety crime logs</a>, we created a searchable 
		database and a heatmap visualization tool to help you find out.
		You can search by date, time of day, weekday, and type of incident. Give it a try below!
	</p>
	<p class="signature">
		-- carsten and teddy
	</p>
	<p class="signature">P.S. you can also sort table results by any column</p>
</div>