#about-contents {
	margin:0px;
	padding:0px;
	h3 {
		margin:5px;
		text-align:center;
	}
	h4 {
		margin:5px;
		text-align:center;
	}
	a {
		text-decoration:underline;
	}
	p {
		text-indent:15px;
		margin:20px;
	}
	.signature {
		margin:10px;
	}
}