// Place all the styles related to the case controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$table_border:#919191;
$odd_background:#CCD9E0;
$results_background:white;

.cases {
	table {
		width:calc(100% - 20px);
		margin:10px;
		border: 2px solid $table_border;
		border-collapse:collapse;
	}
	tr th {
		border: 2px solid $table_border;
	}
	th {
		text-align:left;
	}
	tr.even {
		background-color: $odd_background;
	} 
	td {
		border: 2px solid $table_border;
		padding: 1px 5px 1px 5px;
	}
	.heading {
		font-weight:bold;
	}
}
#results {
	text-align:center;
	margin:auto;
	margin-top:15px;
	display:table;
}
#map-container {
	width:60%;
	height:450px;
	display:table-cell;
	position:relative;
	vertical-align:top;
}
#search-container {
	display:table-cell;
}