// Place all the styles related to the case controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$table_border:#DEDEDE;
$results_background:white;

.cases {
	table {
		margin:auto;
		border: 1px solid $table_border;
		border-collapse:collapse;
	}
	tr th {
		border: 1px solid $table_border;
	}
	td {
		border: 1px solid $table_border;
		padding: 1px 5px 1px 5px;
	}
	.heading {
		font-weight:bold;
	}
}
#results {
	text-align:center;
	margin:auto;
	background-color:$results_background;
	display:table;
}
#map-container {
	width:60%;
	height:450px;
	display:table-cell;
	position:relative;
	vertical-align:top;
}
#search-container {
	display:table-cell;
}