$search_background:#CCD9E0;;
$titlebar:#3D4447;

.search {
	margin:10px;
	margin-right:5px;
	height:450px;
	position:relative;
	font-family: Serif;
	.search-inner {
		margin:0px;
		padding:0px;
		height:100%;
		text-align:left;
		display:table;
		background-color: $search_background;
	}
	#weekdays {
		background-color: white;
		margin: 0px;
		padding: 2px;
		li {
			margin: 4px;
		}
	}
	.any {
		font-weight: bold;
	}
	.expandable {
		display:table-row;
		position:relative;
		a {
			text-decoration:none;
		}
		.hidden {
			height:0px;
			visibility: hidden;
		}
		.contents {
			position:relative;
			padding:10px;
		}
	}
	.titlebar {
		margin:0px 0px 2px 0px;
		padding:0px;
		padding-left:5px;
		font-size:12pt;
		font-weight:bold;
		color:white;
		background-color:$titlebar;
	}
	#date-contents {
		text-align:center;
	}
	.date-columns {
		width:40%;
		text-align:left;
		display:inline-block;
		vertical-align:top;
	}
	#submit {
		position:absolute;
		bottom:10px;
		width:100%;
		text-align:center;
		input {
			background-color:$titlebar;
			color:white;
			border:none;
			padding:5px 15px 5px 15px;
			border:1px solid gray;
			border-radius:10px;
			font-size:15px;
			text-transform: uppercase;
		}
	}
	#any {
		margin-bottom:10px;
	}
	ul {
		list-style-type: none;
		margin:0px;
		padding:0px;
	}
	#columns {
		height:100%;
		text-align:center;
		margin:auto;
	}
	.column {
		height:240px;
		margin:10px;
		overflow:auto;
		width:40%;
		text-align:left;
		font-size:11pt;
		display:inline-block;
		background-color:white;
		li div {
			display: table-cell;
		}
		li {
			display: table;
		}
	}
	.disabled {
		color:gray;
	}
}